.stack-work/
wxHaskell/wx/.stack-work/
wxHaskell/wx-config-win/.stack-work/
wxHaskell/wxc/.stack-work/
wxHaskell/wxcore/.stack-work/
wxHaskell/wxdirect/.stack-work/
*~
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
